



.product-cards-container {
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 5%;
}

.product-card {
    /* border: 1px solid rgb(0, 17, 255); */
    width: 200px;
    height: 250px;
    padding: 10px;
}

.header {
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: #00ffff;
    text-align: center;
    padding: 5px;
}

.filter-categories {
    /* border: 1px solid rgb(255, 0, 0); */
    margin-left: 50px;
    display: flex;
    align-self: center;
    margin-top: 10px;
}

.modal-body-div {
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
}

.modal-body-des {
    margin-left: 20px;
}

.btn-primary {
    background-color: #ffa500;
    border: none;
}


.pagination{
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.pagebody{
    display: flex;
    column-gap: 10px;
}
.blue{
    color: #000000;
}
.grey{
    color: rgb(0, 0, 0);
}
.Tablesection{
    height: 500px;
}
.Line{
    margin-right: 10px;
}
.downarrow{
    margin-left: 10px;
}

.btn-close {
    display: none;
}